body {
  font-family: Nunito, Arial, sans-serif;
  text-align: center;
}

header {
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
}

#mayuri {
  content:url('img/mayuri.png');
  width: 268.5px;
  height: 300px;
}
