<link rel="import" href="kawaii-character.html">

<template>
  <style>
    #container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #previous, #next {
      height: 3rem;
    }

    #previous:hover, #next:hover {
      cursor: pointer;
    }

    #character-container {
      margin-bottom: 1rem;
    }

    @keyframes tada {
      from {
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }

    .tada {
      animation-name: tada;
    }
  </style>

  <section id="container">
    <section id="character-container">
      <kawaii-character id="character"></kawaii-character>
    </section>
    <section>
      <img id="previous" src="images/previous.svg">
      <img id="next" src="images/next.svg">
    </section>
  </section>
</template>

<script>
  ((window, document) => {
    const importer = document
    const importee = importer.currentScript.ownerDocument
    const template = importee.querySelector('template').content

    class CharacterGallery extends HTMLElement {
      async connectedCallback() {
        const shadowRoot = this.attachShadow({ mode: 'closed' })
        const clone = importer.importNode(template, true)
        shadowRoot.appendChild(clone)

        this.characterContainer = shadowRoot.getElementById('character-container')
        this.character = shadowRoot.getElementById('character')
        this.previous = shadowRoot.getElementById('previous')
        this.next = shadowRoot.getElementById('next')

        await this.populateCharacters()
        this.setupListeners()
        this.switchCharacter()
      }

      async populateCharacters() {
        const file = this.getAttribute('characters')
        const response = await fetch(file)
        const characters = await response.json()
        this.characters = characters.characters
        this.maxIndex = this.characters.length - 1
        this.curIndex = 0
      }

      setupListeners() {
        this.character.addEventListener('click', this.play.bind(this))
        this.previous.addEventListener('click', () => {
          this.prevIndex()
          this.switchCharacter()
        })
        this.next.addEventListener('click', () => {
          this.nextIndex()
          this.switchCharacter()
        })
      }

      nextIndex() {
        if (this.curIndex === this.maxIndex) {
          this.curIndex = 0
        } else {
          ++this.curIndex
        }
      }

      prevIndex() {
        if (this.curIndex === 0) {
          this.curIndex = this.maxIndex
        } else {
          --this.curIndex
        }
      }

      switchCharacter() {
        const newCharacter = this.characters[this.curIndex]
        this.character.setAttribute('image', newCharacter.image)
        this.character.setAttribute('audio', newCharacter.audio)
        this.characterContainer.style['animation-duration'] = newCharacter.duration + 'ms'
      }

      play() {
        this.character.play()
        this.animateCharacter()
      }

      animateCharacter() {
        this.characterContainer.classList.add('tada')
        setTimeout(() => {
          this.characterContainer.classList.remove('tada')
        }, this.characters[this.curIndex].duration)
      }
    }
    window.customElements.define('character-gallery', CharacterGallery)
  })(window, document)
</script>
