<template>
  <style>
  #image {
    height: 20rem;
  }
  </style>

  <section>
    <img id="image">
    <audio id="player"></audio>
  </section>
</template>

<script>
  ((window, document) => {
    const importer = document
    const importee = importer.currentScript.ownerDocument
    const template = importee.querySelector('template').content

    class KawaiiCharacter extends HTMLElement {
      constructor() {
        super()
      }

      static get observedAttributes() {
        return [
          'image',
          'sound'
        ]
      }

      connectedCallback() {
        const shadowRoot = this.attachShadow({ mode: 'open' })
        const clone = importer.importNode(template, true)
        shadowRoot.appendChild(clone)

        this.audioElement = shadowRoot.getElementById('player')
        const sound = this.getAttribute('sound')
        if (sound) {
          this.audioElement.src = sound
        }

        this.imageElement = shadowRoot.getElementById('image')
        const image = this.getAttribute('image')
        if (image) {
          this.imageElement.src = image
        }
      }

      attributeChangedCallback(attrName, oldVal, newVal) {
        switch (attrName) {
          case 'image':
            this.imageElement.src = newVal
            break
          case 'sound':
            this.audioElement.src = newVal
            break
        }
      }

      play() {
        this.audioElement.play()
      }
    }
    window.customElements.define('kawaii-character', KawaiiCharacter)
  })(window, document)
</script>
