<template>
  <style>
    #image {
      height: 20rem;
    }
  </style>

  <section>
    <img id="image">
    <audio id="audio"></audio>
  </section>
</template>

<script>
  ((window, document) => {
    const importer = document
    const importee = importer.currentScript.ownerDocument
    const template = importee.querySelector('template').content

    class KawaiiCharacter extends HTMLElement {
      static get observedAttributes() {
        return [
          'image',
          'audio'
        ]
      }

      connectedCallback() {
        const shadowRoot = this.attachShadow({ mode: 'closed' })
        const clone = importer.importNode(template, true)
        shadowRoot.appendChild(clone)

        this.audioElement = shadowRoot.getElementById('audio')
        const audio = this.getAttribute('audio')
        if (audio) {
          this.audioElement.src = audio
        }

        this.imageElement = shadowRoot.getElementById('image')
        const image = this.getAttribute('image')
        if (image) {
          this.imageElement.src = image
        }
      }

      attributeChangedCallback(attrName, oldVal, newVal) {
        switch (attrName) {
          case 'image':
            if (this.imageElement) this.imageElement.src = newVal
            break
          case 'audio':
            if (this.audioElement) this.audioElement.src = newVal
            break
        }
      }

      play() {
        this.audioElement.play()
      }
    }
    window.customElements.define('kawaii-character', KawaiiCharacter)
  })(window, document)
</script>
