body {
  font-family: Nunito, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  padding: 0.1rem;
}

#char-container {
  margin: 1rem;
}

#previous {
  height: 3rem;
}

#previous:hover {
  cursor: pointer;
}

#next {
  height: 3rem;
}

#next:hover {
  cursor: pointer;
}
